--swiftversion 6.0
--indent 4
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--self init-only
--stripunusedargs closure-only
--disable redundantSelf,redundantReturn,wrapMultilineStatementBraces,preferKeyPath
--exclude Packages/NovaKit/.build,DerivedData
